
<div class="container">

  <nav id="sidebarMenu" class="col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <div class="nav-link  nav-link-pointer {{currentPage === 'emp'?'active':''}}"  aria-current="page" (click)="navChange('emp')" >
            <span data-feather="home"></span>
            Employee Management
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link nav-link-pointer {{currentPage === 'user'?'active':''}}" (click)="navChange('user')" >
            <span data-feather="file"></span>
            User Management
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div *ngIf="currentPage === 'emp'">
    <app-employee-dashboard></app-employee-dashboard>
  </div>
  <div *ngIf="currentPage === 'user'">
  <app-user-dashboard></app-user-dashboard>
  </div>
</div>
