<div class="container text-center">
            <h4>{{typeLable}} Employee</h4>
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="full-width-input mt-2">
                            <input matInput placeholder="Name" formControlName="name">
                            <mat-error>
                                Employee name is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="full-width-input mt-2">
                            <input matInput placeholder="Address" formControlName="address">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="full-width-input mt-2">
                            <input type="number" min="0" maxlength="10" matInput placeholder="Contact" formControlName="contact">
                            <mat-error>
                            Contact is require
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="full-width-input mt-2">
                            <input type="email" matInput placeholder="Email" formControlName="email">
                            <mat-error>
                                 Email is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="full-width-input mt-2">
                            <mat-label>Designation</mat-label>
                            <mat-select matNativeControl formControlName="designation">
                                <mat-option *ngFor="let item of roles" value="{{item?.ROLE_TYPE}}">{{item?.ROLE_TYPE}}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                Please select Designation
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="full-width-input mt-2" appearance="fill">
                            <mat-label>Birth date</mat-label>
                            <input matInput [matDatepicker]="picker" class="" formControlName="birth_date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="full-width-input mt-2" appearance="fill">
                            <mat-label>Joining date</mat-label>
                            <input matInput [matDatepicker]="picker1" class="" formControlName="joining_date">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button  class="mt-3 d-inline mr-2 btn btn-outline-secondary" mat-raised-button (click)="close()">close</button>
                        <button type="submit" class="mt-3 d-inline" mat-raised-button color="primary">{{typeLable}} Employee Record</button>
                    </div>
                </div>

            </form>
</div>